.card__new {
  .new_card {
    max-width: 500px;
    margin: 70px auto 0;
  }
  .cardName{
    &-form{
      display: block;
    }
  }
  .cardContent{
    margin-top: 20px;
    &-form{
      display: block;
    }
  }
  .cardBtn{
    margin-top: 20px
  }
  .cardBtn_submit{
    width: 200px;
  }
}

.card__show{
  padding:100px 200px 0 200px;
  text-align: center;
  &-name{
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
  }
  &-content{
    border-bottom: 1px solid #ccc;
  }
}

.card__edit {
  .edit_card {
    max-width: 500px;
    margin: 70px auto 0;
  }
}
