body {
  overflow: visible;
}

.notice,
.alert {
  display: none;
}



// トップページ
.TopPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #bababa;
  overflow-x: scroll;
  .TaskListWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .Tasklist {
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}

.cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
      }
      .card-add{
        color: #8c8c8c;
        &__btn {
          color: #8c8c8c;
          }
        }

// header
.top-header {
  background: #66CCCC;
  padding: 10px;
  &__nav {
    .top-header__menu {
      display: flex;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        color: #fff;
        a {
          color: #fff;
        }
      }
      &__menu-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
      }
      .header__menu-inner {
        display: flex;
        padding: 0;
        align-items: center;
        .nav-link_NewList{
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f044";
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
